<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.title == site.title %}
      <title>{{ site.title | strip_html }}</title>
    {% else %}
      <title>{{ page.title | strip_html }} — {{ site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script defer src="//unpkg.com/alpinejs"></script>
    <script defer data-domain="danielfriis.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="antialiased max-w-screen-sm px-3 mx-auto mt-2 mb-20 bg-stone-50/50 dark:bg-zinc-900 flex flex-col">
    <header class="pt-10 overflow-hidden max-w-72">
      {% include breadcrumbs.html %}
    </header>
    <main aria-label="Content">
      <section class="mt-28 mb-20 flex flex-col">
        {% if page.date %}
          <p class="mb-2 text-xs text-zinc-500">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.modified and page.modified != page.date %} · Updated <time datetime="{{ page.modified | date_to_xmlschema }}">{{ page.modified | date: "%b %-d, %Y" }}</time>{% endif %}
          </p>
        {% endif %}
        <h1 class="text-xl dark:text-white mb-3">{{ page.title }}</h1>
      </section>
      {{ content }}
    </main>
    <footer class="mt-20 flex gap-x-2">
      <span class="text-xs default-text-styling after:content-['•'] after:ml-2">
        &COPY; {{ site.time | date: "%Y" }}
        <a href="/">
          Daniel Friis
        </a>
      </span>
      <script>
        function getTime() {
          return new Date().toLocaleTimeString('en-GB', {
            timeZone: 'Europe/Copenhagen',
            hour: '2-digit',
            minute: '2-digit',
            timeZoneName: 'short'
          });
        }
      </script>
      <span class="text-xs default-text-styling" 
        x-data="{
          time: getTime(),
          updateTime() {
            this.time = getTime();
          }
        }" 
        x-init="updateTime(); setInterval(updateTime, 1000)"
        x-text="time">
        Copenhagen
      </span>
    </footer>
  </body>
</html>
