---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.title == site.title %}
      <title>{{ site.title | strip_html }}</title>
    {% else %}
      <title>{{ page.title | strip_html }} — {{ site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class="max-w-screen-sm px-3 mx-auto mt-2 mb-20 bg-stone-50/50 dark:bg-zinc-900 flex flex-col">
    <header class="pt-10 mb-20 overflow-hidden max-w-72">
      {% include breadcrumbs.html %}
    </header>
    <main aria-label="Content">
      <section class="pt-10 mb-20 flex flex-col">
        <h1 class="text-4xl md:text-5xl font-serif mb-3 dark:text-zinc-300 text-pretty">{{ page.title }}</h1>
      </section>
      {{ content }}
    </main>
    <footer class="mt-20">
      <span class="text-xs font-light text-zinc-400">
        &COPY; {{ site.time | date: "%Y" }}
        <a href="/">
          Daniel Friis
        </a>
      </span>
    </footer>
  </body>
</html>
