---
layout: default
---

<div class="formatted-content">
  <p>
    {% if page.date %}
      Published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %e, %Y" }}</time>
    {% endif %}
    {% if page.modified %}
      {% if page.modified != page.date %}
        &mdash; Updated
        <time datetime="{{ page.modified | date_to_xmlschema }}">{{ page.modified | date: "%B %e, %Y" }}</time>
      {% endif %}
    {% endif %}
  </p>
  <div class="pt-6"></div>
  {{ content }}
</div>
<div class="pt-20 flex flex-col gap-y-20">
  <p class="text-xs font-light text-zinc-400 dark:text-zinc-400">
    There will be typos, half-baked ideas, and opinions presented as facts here. I'm not a professional writer, and I'm not trying to be one. I'm writing these notes as an exercise to clarify my thinking and to archive insights worth revisiting. If you find it useful, that's great. If you don't, that's fine too.
  </p>
  <div class="text-xs font-light text-zinc-400 dark:text-zinc-400 flex flex-row gap-x-3">
    <p>Read other <a class="text-zinc-800/90 hover:text-black dark:text-zinc-300 dark:hover:text-white" href="{{ '/notes' | relative_url }}">notes</a> or go <a class="text-zinc-800/90 hover:text-black dark:text-zinc-300 dark:hover:text-white" href="{{ '/' | relative_url }}">home</a>.</p>
  </div>
</div>
