---
layout: base
---

<div class="note-content">{{ content }}</div>
<div class="mt-14 pt-3 border-t border-gray-200 dark:border-zinc-800 flex flex-col gap-y-3 text-xs leading-relaxed text-zinc-500">
  <p>
    {% if page.date %}Published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.modified and page.modified != page.date %}, updated <time datetime="{{ page.modified | date_to_xmlschema }}">{{ page.modified | date: "%b %-d, %Y" }}</time>{% endif %}.
    Read other <a class="subtle-link" href="/preview/notes/">notes</a> or go <a class="subtle-link" href="/preview/">home</a>.
  </p>
  <p>
    There will be typos, half-baked ideas, and opinions presented as facts here. I'm not a professional writer, and I'm not trying to be one. I'm writing these notes as an exercise to clarify my thinking and to archive insights worth revisiting. If you find it useful, that's great. If you don't, that's fine too.
  </p>
</div>
